@model BangazonWorkforce.Models.Computer

@{
    ViewData["Title"] = "Decomission Computer";
}

<h2>@ViewData["Title"]</h2>

<hr />

<h4>Are you sure you want to decomission the @Html.DisplayFor(model => model.Designation)</h4>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Yes" class="btn btn-default" /> |
        <button class="btn btn-default btn--cancelDecomission">No</button>
    </form>
</div>
