@model BangazonWorkforce.Models.ViewModels.EmployeeEditViewModel

@{
    ViewData["Title"] = $"Edit {Model.Employee.FullName}";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Employee.Id" />
            <div class="form-group">
                <label asp-for="Employee.FirstName" class="control-label"></label>
                <input asp-for="Employee.FirstName" class="form-control" />
                <span asp-validation-for="Employee.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.LastName" class="control-label"></label>
                <input asp-for="Employee.LastName" class="form-control" />
                <span asp-validation-for="Employee.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Departments" class="control-label"></label>
                @Html.DropDownListFor(m => m.Employee.DepartmentId,
                                 Model.Departments,
                                 new { @class="form-control" })
            </div>
            <div class="form-group">
                <label asp-for="Computers" class="control-label"></label>
                @Html.DropDownListFor(m => m.SelectedComputer,
                                 Model.Computers,
                                 new { @class="form-control" })
            </div>
            <div class="form-group">
                <label asp-for="Sessions" class="control-label"></label>
                @Html.ListBoxFor(m => m.SelectedSessions,
                                 Model.Sessions,
                                 new { @class="form-control" })
                <span asp-validation-for="Sessions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

