@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Bangazon Workforce Management</h2>

        <h3>HR Managers</h3>
        Employees working in HR can manage <a href="/Department">departments</a>, <a href="/Employee">employees</a> and <a href="/Training">training programs</a>.

        <h3>IT Managers</h3>
        Employees working in IT can manage <a href="/Computer">computers</a>, and the <a href="/Employee">employees</a> they are assigned to.
    </div>
</div>
